{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "react",
    "stage-3",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-react-jsx-source",
    ["babel-plugin-root-import", {
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }],

    ["react-intl-auto", {
      "removePrefix": "src/",
      "filebase": true
    }]
  ]
}
