{
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        ["transform-react-constant-elements", {
          "allowMutablePropsOnTags": ["FormattedMessage"]
        }],
        "transform-react-inline-elements"
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 10"
          ]
        }
      }
    ],
    "react",
    "stage-3",
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }],
    "transform-class-properties",
    "transform-react-jsx-source",
    ["babel-plugin-root-import", {
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }],
    "lodash",
    ["react-intl-auto", {
      "removePrefix": "src/",
      "filebase": true
    }]
  ]
}
