.redis-navigator.key-row {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.redis-navigator.key-row.active {
    background: #e3f3ff;
}

.redis-navigator.key-row:hover {
    background: aliceblue;
}

/* the more comprehensive condition, the better aiming of style */
div[class^='ReactVirtualized']:focus {
    outline: 0 !important;
    border: none !important;
}
