.redis-navigator.key-row {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.redis-navigator.key-row:hover {
    background: aliceblue;
}

/* the more comprehensive condition, the better aiming of style */
div[class^='ReactVirtualized']:focus {
    outline: 0 !important;
    border: none !important;
}
